<div class="main-box">
  <div class="box">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title class="title">{{weather.name}}</mat-card-title>
        <mat-card-subtitle>{{(weather?.temperature) - 273.15 | number: '1.0-0'}} ℃</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{weather.image}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{weather.description}}
        </p>
        <p>
          speed: {{weather.wind}} km
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="button" mat-raised-button (click)="dialogRef.close(true)"><span class="font-bold">Close</span>
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
