  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="small">
          <span class="a">{{level}}%</span>
          <span class="b"><img src="{{batteryIcon}}" width="1vw" alt=""></span>
          <span class="c">{{ today | date:'shortTime'  }}</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <div id="container">
      <div class="weather">
      <div class="time">{{ today | date:'shortTime'  }}</div>
      <div class="date">{{ today | date:'fullDate'  }}</div>
      <br>

        <div><strong>{{(weather?.temperature) - 273.15 | number: '1.0-0'}}  ℃</strong></div>
        <div>{{cityname}}</div>
        <img [src]="weather?.image" (click)="openModal()"/>
      </div>

    </div>
  </ion-content>

<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">{{news?.author}}</div>
    <div class="ticker__item">{{news?.title}}</div>
    <a class="ticker__item">{{news?.url}}</a>
    <p>{{news?.description}}</p>
  </div>
  </div>


