$duration: 25s;

* {
  box-sizing: border-box;
}

body {
  padding-bottom: 5rem;
}

h1, h2, p {
  padding: 0 5%;
}

ion-content, ion-toolbar {
  --ion-background-color: url('../../assets/background/background.jpg');
}

ion-toolbar, ion-header {
  --min-height: 4vh;
}

ion-toolbar {
  width: 100%;
  height: 4vh;

  ion-title {
    height: 4vh;
    width: 96vw;
    position: absolute;
    left: calc(50% - 96vw / 2);
    top: calc(50% - 4vh / 2);
    float: right;
    text-align: left;
    color: white;

    span.clock {
      float: right;
    }

    span.battery-icon {
      padding-left: 1vw;
    }

  }
}

.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.weather-and-time {
  display: block;
  width: 80vw;
  position: relative;
  left: calc(50% - 80vw / 2);
  border-radius: 3vw;
  height: 100%;
  color: white;

  .time {
    font-size: 15vw;
    line-height: 15vw;
    padding: 3vw;
  }

  .date {
    font-size: 3vw;
  }

  .weather {
    display: inline-block;
    padding: 3vw;

    .temperature-and-city {
      width: 50%;
      position: absolute;
      left: 0;
      padding-left: 10vw;

      .temperature {
        font-weight: bold;
        font-size: 10vw;
      }

      span {
        font-size: 5vw;
      }

      .city {
        padding: 1vw;
        font-size: 3vw;
      }

    }

    .weather-icon {
      position: absolute;
      right: 0;
      width: 50%;
      margin: auto;
      top: 65%;

      img {
        width: 100%;
        padding-right: 10vw;
      }
    }
  }
}


.spinner-position {
  left: calc(50% - 100px / 2);
  color: white;
}

// ---------------------- news ---------------------- //

.ticker-wrap {
  position: absolute;
  bottom: 1vw;
  width: 100%;
  overflow: hidden;
  height: 4vh;
  background-color: rgba(#000, 0.75);
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {
    display: inline-block;
    height: 3.7vh;
    line-height: 3.7vh;
    white-space: nowrap;
    box-sizing: content-box;
    padding-right: 100%;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;

      padding: 0 2rem;
      font-size: 2.5vh;
      color: white;

    }

  }

  .loading {
    -webkit-animation-duration: $duration - 22;
    animation-duration: $duration - 22;
  }

}

// ----- animation ----- //

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
