<ion-header translucent="true">
    <ion-toolbar>
        <ion-title size="small">
            <span class="battery-level" *ngIf="level">{{level === -1 ? 0 : level}}%</span>
            <span class="battery-icon" *ngIf="batteryIcon">
                    <i class="{{batteryIcon}}"></i>
                </span>
            <span class="clock" *ngIf="today">{{ today | date:'shortTime' }}</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-content [fullscreen]="true">

        <div class="container">
            <div class="weather-and-time" *ngIf="!showSpinner && today else spinner">
                <div class="time">{{ today | date:'shortTime' }}</div>
                <div class="date">{{ today | date:'fullDate' }}</div>
                <br>
                <div class="weather">
                    <div class="temperature-and-city">
                        <div class="temperature">
                            {{weather?.temperature | number: '1.0-0' }}
                            <span> ℃</span>
                        </div>

                        <div class="city" *ngIf="cityName"> {{cityName}}</div>
                    </div>
                    <div class="weather-icon">
                        <img [src]="weather.image" (click)="openModal()"/>
                    </div>
                </div>

            </div>

            <ng-template #spinner>
                <mat-spinner diameter="100" class="spinner-position" color="accent"></mat-spinner>
            </ng-template>

        </div>

    </ion-content>
</ion-content>
<div class="ticker-wrap">
    <div class="ticker" *ngIf="!newsSpinner && news else loading;">
        <div *ngFor="let n of news">
            <a class="ticker__item" href="{{n.url}}">{{n.title}}</a> |
        </div>
    </div>

    <ng-template #loading>
        <div class="ticker loading">
            <div class="ticker__item">loading...</div>
        </div>
    </ng-template>
</div>




